/**
 * Skeletonic Stylus Library
 * https://skeletonic.io
 *
 * Copyright (c) 2023 - 2026 Skeletonic CSS. All rights reserved
 * Licensed under the MIT OR Apache-2.0 license
 **/

/* @group Spin Out Animation (Motion UI) */
@keyframes spinOut
  from
    opacity: 1
    transform: rotate(0deg) scale(1)

  to
    opacity: 0
    transform: rotate(360deg) scale(.7)

.spinOut
  animation-name: spinOut
/* @end */
