/*
 * Skeletonic Stylus Library v1.0.8
 * https://skeletonicstylus.com
 *
 * Copyright (c) Sebastien Rousseau 2021. All rights reserved
 * Licensed under the MIT license
 */

/* @group Spin Right Animation */
@keyframes spinRight
  from
    transform: rotate(360deg)

  to
    transform: rotate(0deg)

// Default value. The animation is played as normal (forwards)
.spinRight
  animation-name: spinRight
/* @end */
