/* @group Lists */
ul, ol
  margin: (golden-ratio)rem 0rem

ul
  list-style: none outside

ol
  list-style: decimal

ol,
ul.square,
ul.circle,
ul.disc

    margin: (golden-ratio)rem 0rem (1.5*golden-ratio)rem

ul.square
    list-style: square outside

ul.circle
    list-style: circle outside

ul.disc
    list-style: disc outside

ul ul,
ul ol,
ol ol,
ol ul
    font-size: 100%
    margin: (2 * golden-ratio)rem 0rem (3 * golden-ratio)rem (20 * golden-ratio)rem

/* @end */
