/**
 * Skeletonic Stylus Library v1.1.6
 * https://skeletonicstylus.com
 *
 * Copyright (c) Sebastien Rousseau 2023. All rights reserved
 * Licensed under the MIT license
 **/

/* @group Zoom Out Animation */
@keyframes zoomOut
  from
    opacity: 1
  50%
    opacity: 0
    transform: scale3d(.62, .62, .62)

.zoomOut
  animation-name: zoomOut
/* @end */
