/*
 * Skeletonic Stylus Library v1.0.9
 * https://skeletonicstylus.com
 *
 * Copyright (c) Sebastien Rousseau 2021. All rights reserved
 * Licensed under the MIT license
 */

/* @group Zoom In Animation */
@keyframes zoomIn
  from
	  opacity: 0
  	transform: scale3d(.62, .62, .62)
  50%
	  opacity: 1

.zoomIn
  animation-name: zoomIn
/* @end */
