/*
 * Skeletonic Stylus Library v1.1.1
 * https://skeletonicstylus.com
 *
 * Copyright (c) Sebastien Rousseau 2021. All rights reserved
 * Licensed under the MIT license
 */

/* @group Bounce Animation */
@keyframes bounce
  from
    transform: translate3d(0, 0, 0)
  to
    transform: translate3d(0, 25%, 0)


// Set to apply a bounce effect to an element.
.bounce
  animation-name: bounce
/* @end */
