/**
 * Skeletonic Stylus Library v2.0.0
 * https://skeletonic.io
 *
 * Copyright (c) 2023 - 2026 Skeletonic CSS. All rights reserved
 * Licensed under the MIT license
 **/

/* @group Swing Animation */
@keyframes swing
  20%
    transform rotate3d(0, 0, 1, 16.18deg)

  40%
    transform rotate3d(0, 0, 1, -10deg)

  60%
    transform rotate3d(0, 0, 1, 6.18deg)

  80%
    transform rotate3d(0, 0, 1, -6.18deg)

  to
    transform rotate3d(0, 0, 1, 0deg)

.swing
  animation-name: swing
/* @end */
