/*!
 * Skeletonic Stylus Library v1.0.2
 * https://skeletonicstylus.com
 *
 * Copyright (c) Sebastien Rousseau 2021. All rights reserved
 * Licensed under the MIT license
 */

/* @group Tachyons Colours */

tachyons = {

  black	         :   #000
  nearblack	     :   #111
  darkgray	     :   #333
  midgray 	     :   #555
  gray	         :   #777
  silver	       :   #999
  lightsilver	   :   #aaa
  moongray	     :   #ccc
  lightgray	     :   #eee
  nearwhite	     :   #f4f4f4
  white	         :   #fff
  transparent	   :   transparent
  black90	       :   rgba(0 0 0 0.9)
  black80	       :   rgba(0 0 0 0.8)
  black70	       :   rgba(0 0 0 0.7)
  black60	       :   rgba(0 0 0 0.6)
  black50	       :   rgba(0 0 0 0.5)
  black40	       :   rgba(0 0 0 0.4)
  black30	       :   rgba(0 0 0 0.3)
  black20	       :   rgba(0 0 0 0.2)
  black10	       :   rgba(0 0 0 0.1)
  black05	       :   rgba(0 0 0 0.05)
  black025	     :   rgba(0 0 0 0.025)
  black0125	     :   rgba(0 0 0 0.0125)
  white90	       :   rgba(255 255 255 0.9)
  white80	       :   rgba(255 255 255 0.8)
  white70	       :   rgba(255 255 255 0.7)
  white60	       :   rgba(255 255 255 0.6)
  white50	       :   rgba(255 255 255 0.5)
  white40	       :   rgba(255 255 255 0.4)
  white30	       :   rgba(255 255 255 0.3)
  white20	       :   rgba(255 255 255 0.2)
  white10	       :   rgba(255 255 255 0.1)
  white05	       :   rgba(255 255 255 0.05)
  white025	     :   rgba(255 255 255 0.025)
  white0125	     :   rgba(255 255 255 0.0125)
  darkred	       :   #e7040f
  red	           :   #ff4136
  lightred	     :   #ff725c
  orange	       :   #ff6300
  gold	         :   #ffb700
  yellow	       :   #ffd700
  lightyellow	   :   #fbf1a9
  purple	       :   #5e2ca5
  lightpurple	   :   #a463f2
  darkpink	     :   #d5008f
  hotpink	       :   #ff41b4
  pink	         :   #ff80cc
  lightpink	     :   #ffa3d7
  darkgreen	     :   #137752
  green	         :   #19a974
  lightgreen	   :   #9eebcf
  navy	         :   #001b44
  darkblue	     :   #00449e
  blue	         :   #357edd
  lightblue	     :   #96ccff
  lightestblue	 :   #cdecff
  washedblue	   :   #f6fffe
  washedgreen	   :   #e8fdf5
  washedyellow	 :   #fffceb
  washedred	     :   #ffdfdf

}

for name, tachyon in tachyons
    .bg-tachyons-{name}
        background-color: (tachyon)

    .cl-tachyons-{name}
        color: (tachyon)

    :root
        --cl-{name}(tachyon)

/* @end */
