/**
 * Skeletonic Stylus Library v2.0.0
 * https://skeletonic.io
 *
 * Copyright (c) 2023 - 2026 Skeletonic CSS. All rights reserved
 * Licensed under the MIT license
 **/

/* @group Media Queries (2026 Core) */

// Responsive Containers (Native-first)
.container
  margin: 0 auto
  width: 96%
  max-width: 84rem

@media (min-width: 30em)
  .container { max-width: 28rem }
@media (min-width: 48em)
  .container { max-width: 44rem }
@media (min-width: 64em)
  .container { max-width: 60rem }
@media (min-width: 80em)
  .container { max-width: 72rem }
@media (min-width: 96em)
  .container { max-width: 84rem }

/* @end */
