/*
 * Skeletonic Stylus Library v1.1.5
 * https://skeletonicstylus.com
 *
 * Copyright (c) Sebastien Rousseau 2022. All rights reserved
 * Licensed under the MIT license
 */

/* @group Media Queries */

@import '../utilities/mixins.styl'

// Variables
$gr = round((1.62), 3)
$mqr = (.72 * $gr)

// 1280 / (.72 * 1.62)

// Media queries
for size in 220 240 320 375 414 480 576 600 640 648 720 768 800 900 960 1024 1050 1080 1152 1200 1280 1366 1392 1400 1440 1536 1600 1680 1856 1920 2048 2160 2560 3384 3840 4320 6016 7680
  @media only screen and (min-width : pxtorem(size, 17))
    .container
      margin: 0 auto
      width: pxtorem((size / $mqr) , 17) em

  @media (prefers-reduced-motion: no-preference)
    :root
      scroll-behavior: smooth

/* @end */
