/**
 * Skeletonic Stylus Library v2.0.0
 * https://skeletonicstylus.com
 *
 * Copyright (c) Sebastien Rousseau 2023. All rights reserved
 * Licensed under the MIT license
 **/

/* @group Alerts */

.alert
  border-radius: .38rem
  display: block
  margin-bottom: 1.62rem
  padding: 1.62rem
  position: relative
  transition: transform 0.2s ease

  // Native :has() selector for 2026 logic
  // If the alert contains a link, give it a pointer cursor and hover effect
  &:has(a)
    cursor: pointer
    &:hover
      transform: translateY(-2px)

  &.alert-error
    background: var(--bg-danger)
    border: .0625rem solid var(--cl-danger)
    color: var(--cl-danger)

  &.alert-info
    background: var(--bg-info)
    border: .0625rem solid var(--cl-info)
    color: var(--cl-info)

  &.alert-primary
    background: var(--bg-primary)
    border: .0625rem solid var(--cl-primary)
    color: var(--cl-primary)

  &.alert-secondary
    background: var(--bg-secondary)
    border: .0625rem solid var(--cl-secondary)
    color: var(--cl-secondary)

  &.alert-success
    background: var(--bg-success)
    border: .0625rem solid var(--cl-success)
    color: var(--cl-success)

  &.alert-warning
    background: var(--bg-warning)
    border: .0625rem solid var(--cl-warning)
    color: var(--cl-warning)

/* @end */
