/* @group Cards */

.card-content
  padding: ($golden-ratio - 1)rem ($golden-ratio)rem ($golden-ratio - 1)rem ($golden-ratio)rem

.card-body
  flex: 1 1 auto
  padding: ($golden-ratio)rem

.card-title
  margin-bottom: ($golden-ratio)rem

.card-subtitle
  margin-bottom: 0
  margin-top: -(1-$golden-ratio)rem

.cards
  display: flex
  flex-wrap: wrap
  justify-content: space-between

.card
  background: transparent
  border: 1px solid var(--cl-grey-300)
  border-radius: ($golden-ratio)rem
  box-shadow: 0 3px 9px 0 var(--cl-grey-200)
  color: var(--cl-black)
  margin-bottom: ($golden-ratio)rem
  position: relative
  transition: .30s

  img
    margin-bottom: 0

.error
  background: var(--bg-danger)
  border: .0625rem solid var(--cl-danger)
  color: var(--cl-danger)
.info
  background: var(--bg-info)
  border: .0625rem solid var(--cl-info)
  color: var(--cl-info)
.primary
  background: var(--bg-primary)
  border: .0625rem solid var(--cl-primary)
  color: var(--cl-primary)
.secondary
  background: var(--bg-secondary)
  border: .0625rem solid var(--cl-secondary)
  color: var(--cl-secondary)
.success
  background: var(--bg-success)
  border .0625rem solid var(--cl-success)
  color: var(--cl-success)
.warning
  background: var(--bg-warning)
  border: .0625rem solid var(--cl-warning)
  color: var(--cl-warning)

/* @end */
