/**
 * Skeletonic Stylus Library v1.1.6
 * https://skeletonicstylus.com
 *
 * Copyright (c) Sebastien Rousseau 2023. All rights reserved
 * Licensed under the MIT license
 **/

/* @group Alerts */

/* Use CSS variables for color and background */
.error
background: var(--bg-danger)
border: .0625rem solid var(--cl-danger)
color: var(--cl-danger)

.info
background: var(--bg-info)
border: .0625rem solid var(--cl-info)
color: var(--cl-info)

.primary
background: var(--bg-primary)
border: .0625rem solid var(--cl-primary)
color: var(--cl-primary)

.secondary
background: var(--bg-secondary)
border: .0625rem solid var(--cl-secondary)
color: var(--cl-secondary)

.success
background: var(--bg-success)
border: .0625rem solid var(--cl-success)
color: var(--cl-success)

.warning
background: var(--bg-warning)
border: .0625rem solid var(--cl-warning)
color: var(--cl-warning)

/* @end */
