@charset "UTF-8"

/**
 * Skeletonic Stylus Library - UI Addon v2.0.0
 * https://skeletonic.io
 *
 * Copyright (c) 2023 - 2026 Skeletonic CSS. All rights reserved
 * Licensed under the MIT license
 **/

@css {
  @layer skeletonic.elements, skeletonic.components;
}

// Configurations (Variables & Colors)
@import "configurations/_contents.styl"

// Helpers
@import "base/helpers.styl"

// Grid
@import "layout/grid.styl"

// Elements
@layer skeletonic.elements
  @import "elements/_contents.styl"

// Components
@layer skeletonic.components
  @import "components/_contents.styl"
