@import 'bounce.styl';
@import 'chameleon.styl';
@import 'fade-in.styl';
@import 'fade-out.styl';
@import 'flash.styl';
@import 'pop-in.styl';
@import 'pulse.styl';
@import 'rotation.styl';
@import 'shake.styl';
@import 'vanish-in.styl';
@import 'vanish-out.styl';
@import 'wobble.styl';
@import 'wobble.styl';
@import 'zoom-in.styl';
