/* @group Chameleon Animation */
@keyframes chameleon
  0%
    color: $red
  5%
    color: $danger
  10%
    color: $fuchsia
  15%
    color: $purple
  20%
    color: $primary
  25%
    color: $blue
  30%
    color: $navy
  35%
    color: $aqua
  40%
    color: $info
  45%
    color: $green
  50%
    color: $teal
  55%
    color: $olive
  60%
    color: $lime
  65%
    color: $yellow
  70%
    color: $warning
  75%
    color: $link
  80%
    color: $maroon
  85%
    color: $silver
  90%
    color: $grey
  95%
    color: $black
  100%
    color: $white

@keyframes chameleon-bg
  0%
    background-color: $red
  5%
    background-color: $danger
  10%
    background-color: $fuchsia
  15%
    background-color: $purple
  20%
    background-color: $primary
  25%
    background-color: $blue
  30%
    background-color: $navy
  35%
    background-color: $aqua
  40%
    background-color: $info
  45%
    background-color: $green
  50%
    background-color: $teal
  55%
    background-color: $olive
  60%
    background-color: $lime
  65%
    background-color: $yellow
  70%
    background-color: $warning
  75%
    background-color: $link
  80%
    background-color: $maroon
  85%
    background-color: $silver
  90%
    background-color: $grey
  95%
    color: $black
  100%
    color: $white

.chameleon-txt
  animation-duration: 5s
  animation-name: chameleon

.chameleon-bg
  animation-duration: 5s
  animation-name: chameleon-bg
/* @end */
