/*!
 * Skeletonic Stylus Library v1.0.7
 * https://skeletonicstylus.com
 *
 * Copyright (c) Sebastien Rousseau 2021. All rights reserved
 * Licensed under the MIT license
 */

/* @group Shake Animation */
@keyframes shake
  from,
  to
    transform: translate3d(0, 0, 0)
  10%,
  30%,
  50%,
  70%,
  90%
    transform: translate3d(-10px, 0, 0)
  20%,
  40%,
  60%,
  80%
    transform: translate3d(10px, 0, 0)

.shake
  animation-name: shake
/* @end */
