/**
 * Skeletonic Stylus Library v1.1.6
 * https://skeletonicstylus.com
 *
 * Copyright (c) Sebastien Rousseau 2023. All rights reserved
 * Licensed under the MIT license
 **/

/* @group Fade Out Transition */
@keyframes fadeOut
  0%
    opacity: 1
  100%
    opacity: 0

  // Set to apply a fade out effect to an element.
	.fadeOut
		animation-name: fadeOut
/* @end */
