/*
 * Skeletonic Stylus Library v1.0.9
 * https://skeletonicstylus.com
 *
 * Copyright (c) Sebastien Rousseau 2021. All rights reserved
 * Licensed under the MIT license
 */

/* @group Flip Out Horizontal Animation */
@keyframes flipOutHorizontal
  from
    animation-timing-function: ease-in
    opacity: 0
    transform: perspective(1618px) rotate3d(1, 0, 0, 90.618deg)
  40%
    animation-timing-function: ease-in
    transform: perspective(1618px) rotate3d(1, 0, 0, -16.18deg)
  60%
    opacity: 1
    transform: perspective(1618px) rotate3d(1, 0, 0, 10.618deg)
  80%
    transform: perspective(1618px) rotate3d(1, 0, 0, -6.18deg)
  to
    transform: perspective(1618px)

.flipOutHorizontal
  animation-name: flipOutHorizontal
/* @end */
