/*
 * Skeletonic Stylus Library v1.0.9
 * https://skeletonicstylus.com
 *
 * Copyright (c) Sebastien Rousseau 2021. All rights reserved
 * Licensed under the MIT license
 */

/* @group Fade Out Down Transition */
@keyframes fadeOutDown
  0%
    opacity: 1
    transform: translateY(-16.18vh)
  100%
    opacity: 0
    transform: translateY(0)

// Set to apply a fade out down effect to an element.
.fadeOutDown
  animation-name: fadeOutDown
/* @end */
