.clearfix
  &:before,
  &:after
    content: " "
    display: table
  &:after
    clear: both

.left,
[left]
  float: left

.right,
[right]
  float: right

.capitalized,
[capitalized]
  text-transform: capitalize

.lowercase,
[lowercase]
  text-transform: lowercase

.uppercase,
[uppercase]
  text-transform: uppercase

.italic,
[italic]
  font-style: italic

.nomargin,
[nomargin]
  margin: 0

.nopadding,
[nopadding]
  padding: 0

.hidden,
[hidden]
    display: none

