/**
 * Skeletonic Stylus Library v2.0.0
 * https://skeletonic.io
 *
 * Copyright (c) 2023 - 2026 Skeletonic CSS. All rights reserved
 * Licensed under the MIT license
 **/

/* @group Core Helpers */

/* Visibility */
.hidden,
[hidden] {
  display: none;
}

/* Flexbox Utilities (Core) */
.flex,
[flex] {
  display: flex;
}

.center,
[center] {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* @end */
