/*
 * Skeletonic Stylus Library v1.0.9
 * https://skeletonicstylus.com
 *
 * Copyright (c) Sebastien Rousseau 2021. All rights reserved
 * Licensed under the MIT license
 */

/* @group Variables */

  // Font Family
  $font = 'Open Sans'

  // Golden Ratios
  $gr         = 1.6180339887498948482 // The $gr (Golden Ratio) number is used to produce a scale of numbers that is proportionally related.
  $gr-large   = round(1 / $gr, 2) // 0.618 ratio value
  $gr-small   = round(1 - $gr-large, 2) // 0.5 ratio value
  $gr-medium  = round((($gr-large + $gr-small) / 2), 2) // 0.382 ratio value

  // Golden Ratio Font Sizes (base,large,small,medium)
  $gr-fsb     = round($gr, 2)rem // 1.618rem - the $gr-fsb (Golden Ratio Font Size Base) is the scale’s root number.
  $gr-fsl     = round(2 * $gr-fsb * $gr-large, 2)rem //  2rem
  $gr-fsm     = round(2 * $gr-fsb * $gr-medium, 2)rem // 1.618rem
  $gr-fss     = round(2 * $gr-fsb * $gr-small, 2)rem //  1.236rem

  // Golden Ratio Headers (h1, h2, h3, h4, h5, h6)
  $gr-h1      = round($gr-fsb * ($gr ** 6), 2)rem // 29.034rem
  $gr-h2      = round($gr-fsb * ($gr ** 5), 2)rem // 17.944rem
  $gr-h3      = round($gr-fsb * ($gr ** 4), 2)rem // 11.09rem
  $gr-h4      = round($gr-fsb * ($gr ** 2), 2)rem // 6.854rem
  $gr-h5      = round($gr-fsb * ($gr ** 2), 2)rem // 4.236rem
  $gr-h6      = round($gr-fsb * ($gr ** 1), 2)rem // 2.618rem

  // Golden Ratio Line Heights
  $gr-lh      = round($gr-fsb * ($gr ** 1), 2)rem // 2.618rem
  $gr-lhl     = round($gr-fsl * ($gr ** 1), 2)rem // 3.236rem
  $gr-lhm     = round($gr-fsm * ($gr ** 1), 2)rem // 2.618rem
  $gr-lhs     = round($gr-fss * ($gr ** 1), 2)rem // 2rem

  // Golden Ratio Line Height Headers
  $gr-lh-h1   = round($gr-fsb * ($gr ** 2), 2)rem // 4.236rem
  $gr-lh-h2   = round($gr-fsb * ($gr ** 2), 2)rem // 6.854rem
  $gr-lh-h3   = round($gr-fsb * ($gr ** 4), 2)rem // 11.09rem
  $gr-lh-h4   = round($gr-fsb * ($gr ** 5), 2)rem // 17.944rem
  $gr-lh-h5   = round($gr-fsb * ($gr ** 6), 2)rem // 29.034rem
  $gr-lh-h6   = round($gr-fsb * ($gr ** 7), 2)rem // 46.978rem

// Link Colors
  :root
    --link-color: $blue
    --link-color-active: $red
    --link-color-focus: $red
    --link-color-hover: $red
    --link-color-visited: $purple

/* @end */
