/**
 * Skeletonic Stylus Library v2.0.0
 * https://skeletonic.io
 *
 * Copyright (c) 2023 - 2026 Skeletonic CSS. All rights reserved
 * Licensed under the MIT license
 **/

/* @group Clipboard */

.bd-clipboard
  float: inline-end
  position: relative

.button-clipboard
    display: block
    font-size: .65em
    min-width: auto
    padding: (round($gr, 1) - 1) rem
    position: absolute
    inset-inline-end: (round($gr, 1) + 1)rem
    top: round($gr, 1)rem
    z-index: 10

/* @end */
