/* @group Lists */
ul, ol
  margin: ($gr)rem 0

ul
  list-style: none outside

ol
  list-style: decimal

ol,
ul.square,
ul.circle,
ul.disc

    margin: ($gr)rem 0 (1.5*$gr)rem

ul.square
    list-style: square outside

ul.circle
    list-style: circle outside

ul.disc
    list-style: disc outside

ul ul,
ul ol,
ol ol,
ol ul
    font-size: 100%
    margin: (2 * $gr)rem 0 (3 * $gr)rem (20 * $gr)rem

/* @end */
