/**
 * Skeletonic Stylus Library v3.0.0
 * https://skeletonic.com
 *
 * Copyright (c) 2023 - 2026 Skeletonic CSS. All rights reserved
 * Licensed under the MIT license
 **/

/* @group Margins */

// Standard Golden Ratio Spacing Scale (Balanced)
$margin-spacings = {
  xs: .382rem,
  sm: .618rem,
  md: 1rem,
  lg: 1.618rem,
  xl: 2.618rem,
  xxl: 4.236rem
}

.m-0
  margin: 0 !important

for name, val in $margin-spacings
  .margin-{name}
    margin: val
  .mt-{name}
    margin-top: val
  .mb-{name}
    margin-bottom: val

/* @end */
