/**
 * Skeletonic Stylus Library v2.0.0
 * https://skeletonic.io
 *
 * Copyright (c) 2023 - 2026 Skeletonic CSS. All rights reserved
 * Licensed under the MIT license
 **/

/* @group Margins */

// Standard Golden Ratio Spacing Scale (Balanced)
$mg-xs = 0.382rem
$mg-sm = 0.618rem
$mg-md = 1rem
$mg-lg = 1.618rem
$mg-xl = 2.618rem
$mg-xxl = 4.236rem

.m-0 { margin: 0 !important; }

.margin-xs { margin: $mg-xs; }
.margin-sm { margin: $mg-sm; }
.margin-md { margin: $mg-md; }
.margin-lg { margin: $mg-lg; }
.margin-xl { margin: $mg-xl; }
.margin-xxl { margin: $mg-xxl; }

.mt-xs { margin-top: $mg-xs; }
.mt-sm { margin-top: $mg-sm; }
.mt-md { margin-top: $mg-md; }
.mt-lg { margin-top: $mg-lg; }
.mt-xl { margin-top: $mg-xl; }
.mt-xxl { margin-top: $mg-xxl; }

.mb-xs { margin-bottom: $mg-xs; }
.mb-sm { margin-bottom: $mg-sm; }
.mb-md { margin-bottom: $mg-md; }
.mb-lg { margin-bottom: $mg-lg; }
.mb-xl { margin-bottom: $mg-xl; }
.mb-xxl { margin-bottom: $mg-xxl; }

/* @end */
