/*!
 * Skeletonic Stylus Library v1.0.7
 * https://skeletonicstylus.com
 *
 * Copyright (c) Sebastien Rousseau 2021. All rights reserved
 * Licensed under the MIT license
 */

/* @group Lists */
table
  border: 1px solid var(--cl-black)
  border-collapse: collapse
  border-spacing: 0
  empty-cells: show
  padding-bottom: 25px

thead
  background-color: var(--cl-black)
  text-align: left
  vertical-align: top

td, th
  background-color: transparent
  border-left: 1px solid var(--cl-black)
  border-width: 0 0 0 1px
  margin: 0
  overflow: visible
  padding: 6px 12px
  vertical-align: top

td
  color: var(--cl-black)

th
  color: var(--cl-white)

/* @end */
