/*
 * Skeletonic Stylus Library v1.1.2
 * https://skeletonicstylus.com
 *
 * Copyright (c) Sebastien Rousseau 2021. All rights reserved
 * Licensed under the MIT license
 */

/* @group Roll In Animation */
@keyframes rollIn
  from
    opacity: 0
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg)
  to
    opacity: 1
    transform: translate3d(0, 0, 0)

.rollIn
  animation-name: rollIn
/* @end */
