/**
 * Skeletonic Stylus Library
 * https://skeletonic.com
 *
 * Copyright (c) 2023 - 2026 Skeletonic CSS. All rights reserved
 * Licensed under the MIT OR Apache-2.0 license
 **/

/* @group Hinge In From Bottom Animation (Motion UI) */
@keyframes hingeInFromBottom
  from
    opacity: 0
    transform: perspective(2000px) rotateX(90deg)

  to
    opacity: 1
    transform: perspective(2000px) rotateX(0)

.hingeInFromBottom
  animation-name: hingeInFromBottom
  transform-origin: bottom
/* @end */
