/**
 * Skeletonic Stylus Library v1.1.6
 * https://skeletonicstylus.com
 *
 * Copyright (c) Sebastien Rousseau 2023. All rights reserved
 * Licensed under the MIT license
 **/

/* @group Base */
html
  -webkit-text-size-adjust: 100%
  display: block
  font-family: sans-serif
  font-size: round(63.204452685542773%, 1)
  text-rendering: optimizeLegibility

body
  background-color: var(--background-color)
  color: var(--cl-black)
  font-family: 'Open Sans', sans-serif
  font-size: $gr-fsb
  font-weight: 400
  line-height: $gr-lh
  word-wrap: break-word

a,
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
button,
caption,
cite,
code,
dd,
del,
dfn,
dl,
dt,
em,
fieldset,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
select,
small,
span,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video
  box-sizing: border-box
  word-break: break-word

b,
body,
strong
  color: var(--cl-black)

code, kbd, pre, samp
    margin: round($gr rem, 1) 0

em, i
  font-style: italic
  line-height: $gr-lh

small
  font-size: $gr-fss
  line-height: $gr-lhs

p
  line-height: $gr-lh

sup
  font-size: $gr-fss
  line-height: $gr-lhs
  top: .8em

sub
  bottom: -.8em
  font-size: $gr-fss
  line-height: $gr-lh

/* @end */
