/**
 * Skeletonic Stylus Library v2.0.0
 * https://skeletonic.io
 *
 * Copyright (c) 2023 - 2026 Skeletonic CSS. All rights reserved
 * Licensed under the MIT license
 **/

/* @group Slide Out Up Transition */
@keyframes slideOutUp
  0%
    transform: translate3d(0, 0, 0)
  100%
    transform: translate3d(0, -100%, 0)
    visibility: hidden

// Set to apply a slide out up effect to an element.
.slideOutUp
  animation-name: slideOutUp
/* @end */
