/*
 * Skeletonic Stylus Library v1.1.0
 * https://skeletonicstylus.com
 *
 * Copyright (c) Sebastien Rousseau 2021. All rights reserved
 * Licensed under the MIT license
 */

/* @group Slide In Down Transition */
@keyframes slideInDown
  0%
    transform: translate3d(0, -100%, 0)
    visibility: visible
  100%
    transform: translate3d(0, 0, 0)

// Set to apply a slide in down effect to an element.
.slideInDown
  animation-name: slideInDown
/* @end */
