/*
 * Skeletonic Stylus Library v1.1.2
 * https://skeletonicstylus.com
 *
 * Copyright (c) Sebastien Rousseau 2021. All rights reserved
 * Licensed under the MIT license
 */

/* @group Slide In Left Transition */
@keyframes slideInLeft
  0%
    transform: translate3d(-100%, 0, 0)
    visibility: visible
  100%
    transform: translate3d(0, 0, 0)

// Set to apply a slide in left effect to an element.
.slideInLeft
  animation-name: slideInLeft
/* @end */
