/*
 * Skeletonic Stylus Library v1.0.9
 * https://skeletonicstylus.com
 *
 * Copyright (c) Sebastien Rousseau 2021. All rights reserved
 * Licensed under the MIT license
 */

/* @group Slide Out Up Transition */
@keyframes slideOutUp
  0%
    transform: translate3d(0, 0, 0)
  100%
    transform: translate3d(0, -100%, 0)
    visibility: hidden

// Set to apply a slide out up effect to an element.
.slideOutUp
  animation-name: slideOutUp
/* @end */
